* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1728px;
  height: 1117px;
  background: #ffffff;
}

html {
  font-size: 16px;
}

.topheader {
  margin-top: -88px;
  background: #d9d9d9;
  display: flex;
}

.logo img {
  padding: 8px 0 0 37px;
}

.topheader .topheader_links {
  display: flex;
}

.topheader .topheader_links nav ul {
  display: flex;
  list-style-type: none;
  margin-left: 1114px;
  gap: 19px;
}

.topheader .topheader_links nav ul li {
  width: 113px;
  height: 30px;
  top: 34px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1.56rem;
  line-height: 30px;
  text-align: left;
}

.topheader .topheader_links nav ul li a {
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.topheader .topheader_links nav ul li a:hover {
  color: white;
}

.topheader .topheader_links a img {
  top: 25%;
  margin-left: 8.33%;
}

.catalog {
  display: flex;
  margin-left: 930px;
}

.catalog h1 {
  margin-top: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 24px;
  color: #000000;
}

.catalog form {
  padding: 50px 0 0 13px;
  display: flex;
}

.catalog form input {
  width: 143px;
  height: 25px;
  margin-right: 24px;
  background: #d9d9d9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
}

.catalog form select {
  width: 95px;
  height: 25px;
  margin-right: 20px;
  background: #d9d9d9;
  border-radius: 5px;
  border: none;
}

.catalog .title h1 {
  width: 283px;
  height: 36px;
  margin-left: -616px;
  margin-top: 18px;
  text-align: right;
  font-family: "Inter";
  font-weight: 700;
  font-size: 30px;
  color: #000000;
}

main .content {
  display: grid;
  grid-template-columns: 16% 1fr 1fr;
}

.content .content_leftside .navigation nav ul {
  list-style-type: none;
  padding: 28px;
}

.content .content_leftside .navigation nav ul li {
  padding:0 0 13px 14px;
  font-family: "Mate";
  font-weight: 400;
  font-size: 1.62rem;
}

.content .content_leftside .navigation nav ul li a {
  text-decoration: none;
  color: #000000;
}

.content .content_leftside .navigation nav ul li a:hover {
  color: white;
}

.info_item {
  display: flex;
  text-align: justify;
}

.info_item p {
  padding: 0 30px 15px;
}

.rectangles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.profile_container {
  padding: 60px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile a {
  color: #2477d9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content_middle .recent_returns {
  padding: 60px;
}

.content_middle .recent_returns img {
  padding: 20px;
}

.rectangles button {
  width: 91px;
  height: 17px;
  background: #246d2b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  align-items: center;

  font-family: "Microsoft JhengHei UI";
  font-size: 10px;
  text-align: center;
  color: #ffffff;
}

.rectangles p{
  padding: 0 40px;
}

.rectangles img{
  padding:10px;
}

.rightside h1{
  padding:10px;
  margin-top:50px;
}
